---
import Layout from "../../layouts/Layout.astro";


---

<Layout title="About Tofen">
      <main>
            <div class="content">
                  <img class="img" src="https://i.pinimg.com/564x/f1/c2/ed/f1c2ed1000720bfcaeaa95d8bf917ddb.jpg" alt="Logo">
                  <h1 class="h1Tofen">Tofen</h1>

                  <div class="info">
                        <h2 class="acercaDe_h2">Acerca De Mi</h2>
                        <ul >
                              <li>Nombre:Kevin Richtofen</li>
                              <li>Edad:17</li>
                              <li>Soy De:Nicaragua</li>
                              <li>Subo contenido de tutoriales relacionados a la programacion y a la tecnologia y de vez en cuando juegos u otros topicos</li>
                        </ul>
                  </div>
      
      
                  <h1 class="redes_sociales_h1">Redes Sociales</h1>
                  <ul class="redes_sociales_ul">
                         <li><a href="https://www.instagram.com/tofen_kevin/" target="_blank"> <img class="inst_img" src="/instagramColour.png" alt="instagram"></a></li>
                        <li><a href="https://www.tiktok.com/@tofenrich"><img class="tik_img" src="tik-tok.png" alt="TikTok"></a></li>
                        <li><a href="https://www.youtube.com/channel/UC0Ilkjabp2FzuvkXwykC06A"><img class="YT_img" src="Youtube_icon.png" alt="YouTube"></a></li>
      
      
      
                  </ul>
      
            </div>
      
      </main>
</Layout>




<style>

main{
      /*hace que todo el contenido este solo en el centro*/ 
      display: flex;
      justify-content: center;
}

.content{
      /*fuente*/
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      /*color del texto */
      color: #000;
      /*necesario para que se centre la imagen y el h1 correctamente*/
      display: grid;
}
.h1Tofen{
      /*tamaño responsive de la fuente*/
      font-size: clamp(2rem, 4vw, 25rem);
      /*centra el texto*/
      text-align: center;
      /*centra el texto visualmente con la imagen*/
}


.img{
      margin-top: 5%;
      border-radius: 100%;
      justify-self: center;
      width: 40%;
}

.acercaDe_h2{
      padding-left: 3vh;
      font-size: clamp(1.5rem, 3vw, 5rem);


}

.info{
      border-left: #000 3px solid;
      font-size: clamp(1rem, 1.5vw, 3rem);
      margin-left: 8%;
      margin-right: 5%;
}

.inst_img{
      width: 5vw;
}

.tik_img{
      width: 5vw;
}

.YT_img{
      width: 5vw;

}



.redes_sociales_h1{
      text-align: center;
      margin-left: 3% ;
      font-size: clamp(2rem, 4vw, 10rem);
}




.redes_sociales_ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2vw;
}


</style>