---
import Layout from "../../layouts/Article_Layout.astro"
import TikTok from "../../components/Tiktok.astro"
---

<Layout banner_img={["/AutoCad.png"]} banner_alt="AutoCAD Language Banner">

    <div slot="social_media_1" class="social_media_1" >
        <TikTok />
    </div>

</Layout>

<style>


</style>