---
import Layout from "../../layouts/articles_layout.astro"
import Redes from "../../components/tiktok_card.astro"

---

<Layout> 
<div slot="social_media_1" class="social_media_1" >
    <Redes></Redes>
</div>

</Layout>

<style>

.social_media_1{
    justify-self: center;
}

</style>