---
import Layout from "../../layouts/Article_Layout.astro" 
import TikTok from "../../components/Tiktok.astro"
---

<Layout title="Tofen Redes">

    <div slot="social_media_1" class="social_media_1" >
        <TikTok />
    </div>

</Layout>

<style>

.social_media_1{
    justify-self: center;
}

</style>