---
import CardsComponent from "../components/CardsComponent.astro";
import Layout from "../layouts/Layout.astro";

---


<Layout title="Tofen">
    <main>
        <div class="articles">
          <CardsComponent />
        </div>
    </main>
</Layout>



<style>

main{
    background-color: #f0f2f5;
}

</style>