<main class="footer">

     

      <div class="pie_de_pagina">

             <h2 class="abajo_tofen">Tofen</h2>

            <ul class="redes_sociales_ul">
                  <li><a href="https://www.instagram.com/tofen_kevin/"> <img class="inst_img" src="/instagram.png" alt="instagram"></a></li>
                  <li><a href="https://www.tiktok.com/@tofenrich"><img class="tik_img" src="/tik_tok_white.png" alt="TikTok"></a></li>
                  <li><a href="https://www.youtube.com/channel/UC0Ilkjabp2FzuvkXwykC06A"><img class="YT_img" src=https://raw.githubusercontent.com/Tofen5061/Tofen-youtube-page/refs/heads/main/public/Youtube_icon.png alt="YouTube"></a></li>
            </ul>


      </div>

</main>

<style>


.pie_de_pagina {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: clamp(15vh, 25vh, 30vh)
}


.redes_sociales_ul {
      list-style: none;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
      gap: 2vw;
      height: auto;

}

.inst_img{
      height: 3vw
}

.tik_img {
      height: 3vw;

}
.YT_img{
      height: 2.5vw;

}

.abajo_tofen{
      color: rgb(107, 107, 107);
      text-align: center;
      font-size: 1.4rem;
      font-family: 'Roboto', sans-serif;
      margin-left:2%;
      padding-top: 5vh;
}

@media (max-width:800px){

.redes_sociales_ul {
      gap: 2vw;
      margin-right: 4%;
}
.inst_img{
      height: 4vh;
}

.tik_img {
      height: 7vh;

}
.YT_img{
      height: 3vh;

}
}





</style>