<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
</head>




<main class="mainMenu">

    <div class="menu">
        <img class="tofenImg" src="https://i.pinimg.com/564x/f1/c2/ed/f1c2ed1000720bfcaeaa95d8bf917ddb.jpg" alt="Logo">
        <h2 class="tofen" >Tofen</h2>
        <a href="/">home</a>
        <a class="about" href="/about">about</a>
    </div>
</main>

<style>

    body{
        padding: 0%;
        margin: 0% ;
    }

    .mainMenu{
        font-family: "League Spartan", sans-serif;
    }

    .tofen {
        margin-right: auto;
        margin-left: -0.7em;
    }

    .menu {
        /*orden*/
        display: flex;
        justify-content:right;
        align-items: center;
        /*separacion y tamaño*/
        gap: clamp(1rem, 2vw, 20rem);
        width: 100%;
        /*colores*/
        background-color: rgb(0, 0, 0) ;
        color: white;
        /*configuraciones de letra*/

    }

    .tofenImg {
        width: 4rem;
        height: 4rem;
        margin-left: 2%;
        padding: 0.5rem;
        border-radius: 5rem;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: clamp(1.1rem, 3.5vw, 1.4rem);
        font-weight: 700;
    }


    .about {
        margin-right: 2rem;
    }

    @media screen and (max-width: 700px) {

      .contact{
        margin-right: 1rem ;
      }

      .tofenImg {
        width:3rem;
        height: 3rem;
      }
    }
</style>