<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
</head>

<div>
    <img src="/tik-tok.png" alt="">
    <h2>TikTok</h2>
</div>

<style>

div{
height: 40px;
padding: 5px;
width:180px;
display: flex;
align-items: center;
gap: 20px;
border-radius: 8px;
background-color: white;
cursor: pointer;
border: 2px solid black;
}

img{
    height: 35px;
}

h2{
    font-family: "League Spartan", sans-serif;;
}


</style>