<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
</head>

<a href="https://www.youtube.com/channel/UC0Ilkjabp2FzuvkXwykC06A"><div>
    <img src="/Youtube_icon.png" alt="">
    <h2>Youtube</h2>
</div></a>

<style> 
a{
    color: black;
    text-decoration: none;
    
}

div{
height: 8vh;
width: 100%;
justify-self: center;
padding: 5px;
display: flex;
align-items: center;
gap: 2vw;
border-radius: 8px;
background-color: white;
cursor: pointer;
border: 2px solid black;
}

img{
    height: 25px
}

h2{
    font-family: "League Spartan", sans-serif;
    margin-right: 20vw;
}

</style>