---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Tofen">
    <main class="articles_layout">
        <div class="display">
            <section class="main_info"></section>
    
            <section class="other_info">
                <slot name="social_media_1" class="social_media_1"></slot>
                <slot name="social_media_1" class="social_media_1"></slot>
                <slot name="social_media_1" class="social_media_1"></slot>

            </section>
        </div>
    
    </main>
</Layout>

<style>

.display{
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    min-height: 100vh;
    width: 100%;
    margin-top: 20px;
    justify-self: center;
    justify-content: center;


}

section{
    background-color: #fffaf7;
    height: 100%;
    border-radius: 8px;

    

}

.main_info{
    min-height: 90vh;
    width: 65vw;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.other_info{
    min-height: 90vh;
    width: 20vw;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.social_media_1{
    justify-self: center;


}


@media (max-width: 800px){
    .other_info{
        width: 60vw;
        justify-content: start;
        align-items: center;
        display: flex;
    flex-direction: column;
    gap: 5vh;
    }
}




</style>