---
import Menu from "./Menu.astro"
---

<main class="articles_layout">

<Menu></Menu>
    <div class="display">
        <section class="main_info"></section>

        <section class="other_info"><slot name="social_media_1"></slot> </section>
    </div>


</main>

<style>

.display{
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    height: 90vw;
    width: 90vw;
    margin-top: 20px;
    justify-self: center;
    justify-content: center;


}

section{
    background-color: #fffaf7;
    height: 100%;
    border-radius: 8px;

}

.main_info{
    width: 790px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.other_info{
    width: 260px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}





</style>