<main class="articles_layout">

    <div class="display">
        <section class="main_info"></section>

        <section class="other_info"></section>
    </div>


</main>

<style>

.display{
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    height: 90vw;
    width: 90vw;
    justify-self: center;
    justify-content: center;


}

section{
    background-color: #fffaf7;
    height: 100%;
    border-radius: 8px;

}

.main_info{
    width: 810px;
    margin-right: 10px;
}

.other_info{
    width: 280px;
}




</style>